{% extends "layout.html" %}
{% block title %}
myMEETR
{% endblock %}
{% block content %}
<p>Edit Meeting Details<p>
<p>edit any of the following details you would like to update and click submit<p>
<form action = "{{ request.path }}" method = "post">
    <label for="m_mode">Edit meeting mode:</label>
    <select name=m_mode value=''>Meeting Mode: </option>
        <option value="{{ inp }}">currently: {{ m }}</option>
        <option value='1'>in person</option>
        <option value='0'>online</option>
    </select><br>

    <p>Current Meeting Decsription: "{{ d }}"<p>
    <label for = "description">Edit Meeting Description</label>
    <input type = "text" name = "description"/><br>
    <br>
    <input type = "submit" value = "Submit" />
    {% for message in get_flashed_messages() %}
        <p>{{ message }}</p>
    {% endfor %}
{% endblock %}
