{% extends "layout.html" %}
{% block title %}
myMEETR
{% endblock %}
{% block content %}
<p>Edit Meeting Details<p>
<p>edit any of the following details you would like to update and click submit<p>
<form action = "{{ request.path }}" method = "post">
    <label for="m_mode">Select meeting mode:</label>
    <select name=m_mode value=''>Meeting Mode: </option>
        <option value="{{ inp }}">currently: {{ m }}</option>
        <option value='1'>in person</option>
        <option value='0'>online</option>
    </select><br>

    <label for="s_year">start Date: Year</label>
    <select name=s_year value=''>Start Year</option>
        <option value="{{ sy }}">currently: {{ sy }}</option>
        <option value='2021'>2021</option>
        <option value='2022'>2022</option>
        <option value='2023'>2023</option>
        <option value='2024'>2024</option>
        <option value='2025'>2025</option>
        <option value='2026'>2026</option>
        <option value='2027'>2027</option>
        <option value='2028'>2028</option>
        <option value='2029'>2029</option>
        <option value='2030'>2030</option>
    </select>
    <label for="s_month">Month</label>
    <select name=s_month value=''>Start Month</option>
        <option value="{{ sm }}">currently: {{ sm }}</option>
        <option value='01'>01</option>
        <option value='02'>02</option>
        <option value='03'>03</option>
        <option value='04'>04</option>
        <option value='05'>05</option>
        <option value='06'>06</option>
        <option value='07'>07</option>
        <option value='08'>08</option>
        <option value='09'>09</option>
        <option value='10'>10</option>
        <option value='11'>11</option>
        <option value='12'>12</option>
    </select>
    <label for="s_day">Date</label>
    <select name=s_day value=''>Start Day</option>
        <option value="{{ sd }}">currently: {{ sd }}</option>
        <option value='01'>01</option>
        <option value='02'>02</option>
        <option value='03'>03</option>
        <option value='04'>04</option>
        <option value='05'>05</option>
        <option value='06'>06</option>
        <option value='07'>07</option>
        <option value='08'>08</option>
        <option value='09'>09</option>
        <option value='10'>10</option>
        <option value='11'>11</option>
        <option value='12'>12</option>
        <option value='13'>13</option>
        <option value='14'>14</option>
        <option value='15'>15</option>
        <option value='16'>16</option>
        <option value='17'>17</option>
        <option value='18'>18</option>
        <option value='19'>19</option>
        <option value='20'>20</option>
        <option value='21'>21</option>
        <option value='22'>22</option>
        <option value='23'>23</option>
        <option value='24'>24</option>
        <option value='25'>25</option>
        <option value='26'>26</option>
        <option value='27'>27</option>
        <option value='28'>28</option>
        <option value='29'>29</option>
        <option value='30'>30</option>
        <option value='31'>31</option>
    </select><br>

    <label for="e_year">end Date: Year</label>
    <select name=e_year value=''>End Year</option>
        <option value="{{ ey }}">currently: {{ ey }}</option>
        <option value='2021'>2021</option>
        <option value='2022'>2022</option>
        <option value='2023'>2023</option>
        <option value='2024'>2024</option>
        <option value='2025'>2025</option>
        <option value='2026'>2026</option>
        <option value='2027'>2027</option>
        <option value='2028'>2028</option>
        <option value='2029'>2029</option>
        <option value='2030'>2030</option>
    </select>
    <label for="e_month">Month</label>
    <select name=e_month value=''>End Month</option>
        <option value="{{ em }}">currently: {{ em }}</option>
        <option value='01'>01</option>
        <option value='02'>02</option>
        <option value='03'>03</option>
        <option value='04'>04</option>
        <option value='05'>05</option>
        <option value='06'>06</option>
        <option value='07'>07</option>
        <option value='08'>08</option>
        <option value='09'>09</option>
        <option value='10'>10</option>
        <option value='11'>11</option>
        <option value='12'>12</option>
    </select>
    <label for="e_day">Date</label>
    <select name=e_day value=''>End Date</option>
        <option value="{{ ed }}">currently: {{ ed }}</option>
        <option value='01'>01</option>
        <option value='02'>02</option>
        <option value='03'>03</option>
        <option value='04'>04</option>
        <option value='05'>05</option>
        <option value='06'>06</option>
        <option value='07'>07</option>
        <option value='08'>08</option>
        <option value='09'>09</option>
        <option value='10'>10</option>
        <option value='11'>11</option>
        <option value='12'>12</option>
        <option value='13'>13</option>
        <option value='14'>14</option>
        <option value='15'>15</option>
        <option value='16'>16</option>
        <option value='17'>17</option>
        <option value='18'>18</option>
        <option value='19'>19</option>
        <option value='20'>20</option>
        <option value='21'>21</option>
        <option value='22'>22</option>
        <option value='23'>23</option>
        <option value='24'>24</option>
        <option value='25'>25</option>
        <option value='26'>26</option>
        <option value='27'>27</option>
        <option value='28'>28</option>
        <option value='29'>29</option>
        <option value='30'>30</option>
        <option value='31'>31</option>
    </select><br>

    <label for="length_hr">Meeting length</label>
    <select name="length_hr" value=''>Select meeting length</option>
        <option value="{{ len }}">currently: {{ len }} hour(s)</option>
        <option value='0.25'>0.25 hour(s)</option>
        <option value='0.5'>0.5 hour(s)</option>
        <option value='0.75'>0.75 hour(s)</option>
        <option value='1'>1 hour(s)</option>
        <option value='1.25'>1.25 hour(s)</option>
        <option value='1.5'>1.5 hour(s)</option>
        <option value='1.75'>1.75 hour(s)</option>
        <option value='2'>2 hour(s)</option>
        <option value='2.25'>2.25 hour(s)</option>
        <option value='2.5'>2.5 hour(s)</option>
        <option value='2.75'>2.75 hour(s)</option>
        <option value='3'>3 hour(s)</option>        
        <option value='3.25'>3.25 hour(s)</option>
        <option value='3.5'>3.5 hour(s)</option>
        <option value='3.75'>3.75 hour(s)</option>
        <option value='4'>4 hour(s)</option>
    </select><br>

    <p>Current Meeting Decsription: "{{ d }}"<p>
    <label for = "description">Edit Meeting Description</label>
    <input type = "text" name = "description"/><br>
    <br>
    <input type = "submit" value = "Submit" />
    {% for message in get_flashed_messages() %}
        <p>{{ message }}</p>
    {% endfor %}
{% endblock %}
