{% extends "layout.html" %}
{% block title %}
myMEETR
{% endblock %}
{% block content %}
<h2>Ranking by Time</h2>
<style>
    table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
    }
    th, td {
      padding: 15px;
    }
</style>
<table style="width:100%">
    <tr>
      <th>Date</th>
      <th>Start Time</th> 
      <th>End Time</th>
      <th>Time Zone</th>
      <th>Number of Available People</th>
    </tr>
    {% for item in data %}
    <tr>
        <td>{{item[0]}}</td>
        <td>{{item[1]}}</td>
        <td>{{item[2]}}</td>
        <td>UTC</td>
        <td>{{item[3]}}</td>
    </tr>
    {% endfor %}
  </table>

<h2>Ranking by Importance</h2>
<table style="width:100%">
    <tr>
      <th>Date</th>
      <th>Start Time</th> 
      <th>End Time</th>
      <th>Time Zone</th>
      <th>Number of Available People</th>
    </tr>
    {% for item in data2 %}
    <tr>
        <td>{{item[7]}}</td>
        <td>{{item[8]}}</td>
        <td>{{item[9]}}</td>
        <td>UTC</td>
        <td>{{item[6]}}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
